/* WHite Mode Dropdowns*/
.dropdown-content-abt{
    background-color: #f9f9f9;
}
.dropdown-content-abt a{
    color: black;
}
.dropdown-content-uVn{
    background-color: #f9f9f9;
}
.dropdown-content-uVn a{
    color: black;
}
.dropdown-content-jgn{
    background-color: #f9f9f9;
}
.dropdown-content-jgn a {
    color: black;
}
.dropdown-content-etc{
    background-color: #f9f9f9;
}
.dropdown-content-etc a{
    color: black;
}
/* White Mode Index */
.greeting{
    color: #000000b7;
}
.newsblock{
    background-color: #76aeb0;
}
/* White Mode jgn*/
.greeting-jgn{
    color: #000000b7;
}
/*WHite Mode jgv*/
.greeting-jgv{
    color: #000000b7;
}
/*WHite Mode Mainstyle*/
body {
    background-color: #2F323A;  
}
h2 {
    color: #517872;
}
.text-field{
    background-color: #3C8296;
}
.endOfPage{
    background-color: #357382;
    color:#F3F3F4;
}
body header{
    background-color: #1985A1;
}
.greeting-alg{
    color: #000000b7;
    
}
.text-field{
    color: #F3F3F4;
}
.newsblock{
    color:#F3F3F4;
}