@font-face {
    font-family: RampartOne;
    src: url(RampartOne-Regular.ttf);
}
@font-face {
    font-family: RobotCondBold;
    src: url(RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotCondReg;
    src: url(RobotoCondensed-Regular.ttf);
}
.greeting {
    background-image: url(Bg-Canadier.png);
    min-height: 150px;
    margin: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: RobotCondReg;
    color: #000000b7;
    text-align: align;
    padding: 1%;
    border-radius: 15px;
    margin-top: 1% ;
    margin-bottom: 2%;
}   
.greeting img{
    max-width: 100%;
    margin: auto;
}
.greeting h2{
    font-family: RobotCondBold;
}

body header h2{
    font-size: 30px;
}
body header{
    background-color: #85a8e0;
}
.content{
    max-width: 50%;
    margin: auto;
}
.endOfPage{
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 80px;
}
.endOfPageBackground{
    background-image: url(waves_footer.png);
    background-position: absolute;
    background-position-x: -10px;
}
.newsblock{
    font-family: CreteRoundItalic;
    background-color: #76aeb0;
    border-radius: 15px;
    padding: 1%;
}
h3 {
    font-weight: bolder;
}