@font-face {
    font-family: RampartOne;
    src: url(fonts/RampartOne-Regular.ttf);
}
@font-face {
    font-family: RobotCondBold;
    src: url(fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotCondReg;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}
.greeting {
    background-image: url(pics/Bg-Canadier.png);
    min-height: 150px;
    margin: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: RobotCondReg;
    color: #000000b7;
    text-align: align;
    padding: 1%;
    border-radius: 15px;
    margin-top: 2% ;
    margin-bottom: 2%;
}   
.greeting img{
    max-width: 20%;
}
.greeting p {
    font-size: 80%;
}
.greeting h2{
    font-family: RobotCondBold;
}
.text-field .endOfPage{
    margin-top: 30px;
}
.newsblock{
    font-family: CreteRoundItalic;
    background-color: #76aeb0;
    border-radius: 15px;
    padding: 1%;
}
h3 {
    font-weight: bolder;
}
.newsblock p {
    font-weight: lighter;
}