@font-face {
    font-family: RobotCondBold;
    src: url(fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotCondReg;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}
.greeting-jgn {
    background-image: url(pics/bg_Jgn.png);
    min-height: 150px;
    margin: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    font-family: RobotCondReg;
    text-align: align;
    padding: 1%;
    border-radius: 15px;
    margin-top: 2% ;
    margin-bottom: 2%;
}   
.greeting-jgn img{
    max-width: 20%;
}
.greeting-jgn p {
    font-size: 80%;
}
.greeting-jgn h2{
    font-family: RobotCondBold;
}