
body header img{
    width: 80px;
    float: left;
    margin: 1px 10px 30px 5px;
}

body header h1{
    margin: 0 10px 30px 0;
    font-size: 45px;
    background-color: #85a8e0;
}
body header h2{
    font-size: 30px;
}
body main img{
    width: 512px;
    
}
body header{
    background-color: #85a8e0;
}
.text-field{
    max-width: 50%;
    margin: auto;
}
.endOfPage{
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 80px;
}
.endOfPageBackground{
    background-image: url(waves_footer.png);
    background-position: absolute;
    background-position-x: -10px;
}
