@font-face {
    font-family: CreteRoundItalic;
    src: url(fonts/CreteRound-Italic.ttf);
}
@font-face {
    font-family: SyncopateBold;
    src: url(fonts/Syncopate-Bold.ttf);
}
@font-face {
    font-family: RobotCondBold;
    src: url(fonts/RobotoCondensed-Bold.ttf);
}

body header img{
    float: left;
    width: 80px;
    margin-left: 2%;
}
body header h1{
    margin: auto;
    font-size: 45px;
    font-weight: bold;
    font-family: RobotCondBold;
}
h2 {
    font-family: RobotCondBold;
}
h3 {
    font-family: CreteRoundItalic;
    font-weight: bold;
}
h4{
    font-family: SyncopateBold;
}
.text-field{
    border-radius: 15px;
    padding: 1%;
    margin-top: 2%;
    font-family: CreteRoundItalic;
}
.endOfPage{
    border-radius: 15px;
    margin-top: 2%;
    font-family: CreteRoundItalic;
    text-align: center;

}
.content{
    max-width: 900px;
    margin: auto;

    flex: 1;
}
body header{
    border-radius: 15px;
    margin: 1%;
}
@font-face {
    font-family: RobotCondBold;
    src: url(fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotCondReg;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}
.greeting-alg {
    min-height: 150px;
    margin: auto;
    background-repeat: round;
    background-position-x: center;
    font-family: RobotCondReg;
    text-align: align;
    padding: 1%;
    border-radius: 15px;
    margin-top: 2% ;
    margin-bottom: 2%;
}   
.greeting-alg img {
    max-width: 20%;
}
.greeting-alg p {
    font-size: 80%;
}
.greeting-alg h2 {
    font-family: RobotCondBold;
}

.signWrapper {
    position: relative;
    width: 400px;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:400px;
    height:200px;
    background-color: white;
    border: 1px solid #000;
}

.cookie-consent{
    position: fixed;
    bottom: 8px;
    left: 20px;
    width: 20%;
    min-width: 250px;
    padding-top: 7px;
    height: 90px;
    color: #ffffff;
    text-align: center;

    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background: #292929;
    z-index: 120;
    border-radius: 10px;
    }

.cookie-consent .allow-button{
    height: 20px;
    width: 104px;
    color: #000000;
    font-size: 12px;
    line-height: 10px;
    border-radius: 5px;
    background-color: #00ca00;
}

.cookie-consent .allow-button:hover{
    background-color: #00ca00;
    color: #ffffff;
    cursor: pointer;
}
    
.wavesFooter {
    width: 100%;
    height: 50px; /* adjust height as needed */
    /*background-image: url("pics/waves_footer.png");*/
    background-image: url("pics/waves_footer.png");
    background-size: contain;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}