@font-face {
    font-family: RobotCondBold;
    src: url(fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotCondReg;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}
.greeting-vorstand {
    background-image: url(pics/Bg-Canadier.png);
    min-height: 150px;
    margin: auto;
    background-repeat: round;
    background-position-x: center;
    font-family: RobotCondReg;
    color: #000000b7;
    text-align: align;
    padding: 1%;
    border-radius: 15px;
    margin-top: 2% ;
    margin-bottom: 2%;
}   
.greeting-vorstand img {
    max-width: 20%;
}
.greeting-vorstand p {
    font-size: 80%;
}
.greeting-vorstand h2 {
    font-family: RobotCondBold;
}