/* WHite Mode Dropdowns*/
.dropdown-content-abt{
    background-color: #f9f9f9;
}
.dropdown-content-abt a{
    color: black;
}
.dropdown-content-uVn{
    background-color: #f9f9f9;
}
.dropdown-content-uVn a{
    color: black;
}
.dropdown-content-jgn{
    background-color: #f9f9f9;
}
.dropdown-content-jgn a {
    color: black;
}
.dropdown-content-etc{
    background-color: #f9f9f9;
}
.dropdown-content-etc a{
    color: black;
}
/* White Mode Index */
.greeting{
    color: #000000b7;
}
.text-field1{
    background-color: #96AFC3;
}
.text-field2{
    background-color: #7696B0;
}
.text-field3{
    background-color: #4A6982;
}
.text-field4 {
    background-color: #34495B;
}
.endOfPage{
    background-color: hsl(207, 27%, 24%);
}
/*WHite Mode Mainstyle*/
body {
    background-color: #ffffff;  
}
h2 {
    color: #4A6982;
}
body header{
    background-color: #7696B0;
}
.greeting-alg{
    color: #000000b7;
}
.themebtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/*Dropdown COlors*/
.navbar a:hover,
.dropdown-abt:hover .dropbtn-abt {
    background-color: #7696B0;
}

.navbar a:hover,
.dropdown-uVn:hover .dropbtn-uVn {
    background-color: #7696B0;
}

.navbar a:hover,
.dropdown-jgn:hover .dropbtn-jgn {
    background-color: #7696B0;
}

.navbar a:hover,
.dropdown-etc:hover .dropbtn-etc {
    background-color: #7696B0;
}