/* WDark Mode Dropdowns*/
.dropdown-content-abt{
    background-color: #f9f9f9;
}
.dropdown-content-abt a{
    color: black;
}
.dropdown-content-uVn{
    background-color: #f9f9f9;
}
.dropdown-content-uVn a{
    color: black;
}
.dropdown-content-jgn{
    background-color: #f9f9f9;
}
.dropdown-content-jgn a {
    color: black;
}
.dropdown-content-etc{
    background-color: #f9f9f9;
}
.dropdown-content-etc a{
    color: hsl(201, 24%, 14%);
}
/* Dark Mode Index */
.greeting{
    color: #000000b7;
}
.text-field1{
    background-color: hsl(227, 55%, 10%);
}
.text-field2{
    background-color: hsl(227, 55%, 20%);
}
.text-field3{
    background-color: hsl(227, 55%, 30%);
}
.text-field4 {
    background-color: hsl(227, 55%, 40%)
}
.endOfPage{
    background-color: hsl(227, 55%, 50%);
}
/*DArk Mode Mainstyle*/
body {
    background-color: black;
    color: white;  
}
h2 {
    color: hsl(227, 55%, 20%);
}
body header{
    background-color: hsl(227, 55%, 20%);
}
.greeting-alg{
    color: #000000b7;
}
.themebtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/*Dropdown COlors*/
.navbar a:hover,
.dropdown-abt:hover .dropbtn-abt {
    background-color: hsl(227, 55%, 20%);
}

.navbar a:hover,
.dropdown-uVn:hover .dropbtn-uVn {
    background-color: hsl(227, 55%, 20%);
}

.navbar a:hover,
.dropdown-jgn:hover .dropbtn-jgn {
    background-color: hsl(227, 55%, 20%);
}

.navbar a:hover,
.dropdown-etc:hover .dropbtn-etc {
    background-color: hsl(227, 55%, 20%);
}

.navbar {
    background-color: hsl(227, 55%, 10%);
}

input[type=button] {
    background-color: #3a5b71;
    color: black;
}

/* Removing Text decoration on links*/
.content a:link{
    color: white;
}