 @font-face {
    font-family: CreteRoundItalic;
    src: url("../fonts/CreteRound-Italic.ttf");
}

body header img{
    float: left;
    width: max(80px,7vw);
    margin-left: 2%;
    margin-top: 1px;
}
body header h1{
    margin: auto;
    font-size: 45px;
    font-weight: bold;
    font-family: Arial;
}
h2 {
    font-family: Arial;
    font-weight: bold;
}
h3 {
    font-family: Arial;
    font-weight: bold;
}
h4{
    font-family: Arial;
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
}
.content{
    max-width: 900px;
    margin: auto;

    flex: 1;
}
body header{
    border-radius: 15px;
    margin: 1%;
}
/* Greeting */
.greeting img {
    max-width: 20%;
}
.greeting p {
    font-size: 20px;
    font-weight: bold;
}

.greeting {
    min-height: 150px;
    margin: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    font-family: Arial;
    text-align: center;
    padding: 1%;
    border-radius: 15px;
    margin-top: 2% ;
    margin-bottom: 2%;
    background-size: 100%;
    /*margin-left: 2%;
    margin-right: 2%;*/
}

/* Textfield Templates*/
.text-field1 {
    border-radius: 15px;
    padding: 1%;
    margin-top: 2%;
    font-family: Arial;
    line-height:1.3; 
    padding-right:25px;
}
.text-field2 {
    border-radius: 15px;
    padding: 1%;
    margin-top: 2%;
    font-family: Arial;
    line-height:1.3; 
    padding-right:25px;
}

.text-field3 {
    border-radius: 15px;
    padding: 1%;
    margin-top: 2%;
    font-family: Arial;
    line-height:1.3; 
    padding-right:25px;
}

.text-field4 {
    border-radius: 15px;
    padding: 1%;
    margin-top: 2%;
    font-family: Arial;
    line-height:1.3; 
    padding-right:25px;
}

.text-field5 {
    border-radius: 15px;
    padding: 1%;
    margin-top: 2%;
    font-family: Arial;
    line-height:1.3; 
    padding-right:25px;
}

.endOfPage {
    border-radius: 15px;
    margin-top: 2%;
    font-family: Arial;
    text-align: center;
    margin-bottom: 1vw;

}
.signWrapper {
    position: relative;
    width: 400px;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:400px;
    height:200px;
    background-color: white;
    border: 1px solid #000;
}

.cookie-consent{
    position: fixed;
    bottom: 8px;
    left: 20px;
    width: 20%;
    min-width: 250px;
    padding-top: 7px;
    height: 90px;
    color: #ffffff;
    text-align: center;

    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    background: #292929;
    z-index: 120;
    border-radius: 10px;
    }

.cookie-consent .allow-button{
    height: 20px;
    width: 104px;
    color: #000000;
    font-size: 10px;
    font-family: 'Arial', sans-serif;
    line-height: 10px;
    border-radius: 5px;
    background-color: #00ca00;
}

.cookie-consent .allow-button:hover{
    background-color: #00ca00;
    color: #ffffff;
    cursor: pointer;
}
    
.wavesFooter {
    width: 100%;
    height: 50px; /* adjust height as needed */
    background-image: url("../designPics/waves_footer_wh.png");
    background-size: contain;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* write the css to style the input buttons */

input[type=button], input[type=submit], input[type=reset] {
    background-color: #749d97;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

td {
    text-align: center;
}

a {
    color: #000000;
}
